<!DOCTYPE html>

<section class="showUser">
  <h2>Hello, {{ usersShow.user.username }}!</h2>

  <img ng-src="{{ usersShow.user.imageSRC }}" alt="profile.user.username">
  <h2>{{ usersShow.user.username }}</h2>
  <a href="mailto:{{ usersShow.user.email }}" ng-if="usersShow.user.email">{{ usersShow.user.email }}</a><br>
  <button ui-sref="usersEdit({ id: usersShow.user.id })">Edit Profile</button>

  <div class="userPosts">
    <div class="card">

      <h2>posts</h2>
      <ul>
        <li ng-repeat="post in postsIndex.post.userPosts track by $index">
          <strong>{{ post.createdBy.username }}</strong>
        </li>
      </ul>
    </div>
  </div>

</section>
