<!DOCTYPE html>
<div class="background-image">
  <section>
    <h2>Hello, {{ usersShow.user.username }}!</h2>

    <img ng-src="{{ usersShow.user.imageSRC }}" alt="profile.user.username">
    <h2>{{ usersShow.user.username }}</h2>
    <a href="mailto:{{ usersShow.user.email }}" ng-if="usersShow.user.email">{{ usersShow.user.email }}</a><br>
    <button class="btn btn-default" ui-sref="usersEdit({ id: usersShow.user.id })">Edit Profile</button>
</section>

  <!-- {{ user.posts }} -->

  <section class="z-index">
    <h1>User's items</h1>
    <div class="row">
      <div class="col-lg-6 card" ng-repeat="post in usersShow.user.posts">
        <div class="postImage img-thumbnail" style="background-image: url({{ post.imageSRC }})">
        </div>
        <h2>{{ post.title }}</h2>
        <button class="btn btn-default" ui-sref="postsShow({ id: post.id })">View</button> <!--button directing to show-->
      </div>
    </div>
  </section>
</div>
