
<!DOCTYPE html>


<h1>Meow, I'm dashboard! <img src="./images/logo4.png"></h1> <!--Currently only working for logged in users-->
  
<!-- <img src="./images/logo4.png"> -->

<!-- {{ dashboard.meetups }} -->
<section class="carouselSection">
  <div uib-carousel active="active" interval="5000" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in main.slides track by $index" index="$index">
      <img class="dashboardImage" ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <p class="slideText">{{$index + 1}}.) {{slide.text}}</p>
      </div>
    </div>
  </div>
</section>
<!--Carousel transition to smooth with uibootstrap-->
<!--Responsiveness in carousel styling-->

<google-map class="map-section large" food-banks="dashboard.foodBanks" posts="dashboard.posts"></google-map>
<!--Map to be taller to create lower section below top-->
<!--Populate data from foodbanks and items to this map-->

<aside class="dashboardAside">
  <h2>Volunteering Opportunities in your area</h2>
  <div ng-repeat= "meetups in dashboard.meetups">
    <ul>
      <li>
        <p>{{ meetups.name }}</p>
        {{ meetups.description | limitTo: 150 }}
        <p><a href="{{ meetups.event_url }}">Link</a></p>

      </li>
    </ul>
  </div>
</aside>
