
<!DOCTYPE html>

<h1>Hello, I'm dashboard</h1> <!--Currently only working for logged in users-->


<section class="carouselSection">
  <div uib-carousel active="active" interval="5000" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="slide in main.slides track by $index" index="$index">
      <img class="dashboardImage" ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <p class="slideText">{{$index + 1}}.) {{slide.text}}</p>
      </div>
    </div>
  </div>
</section>
<!--Carousel transition to smooth with uibootstrap-->
<!--Responsiveness in carousel styling-->


<google-map class="map-section" center="{ lat: 51.521610, lng: -0.059307 }"></google-map>
<!--Map to be taller to create lower section below top-->

<aside class="dashboardAside">
  <p>Feed pulled from Meetup API</p>
</aside>
