<!DOCTYPE html>
<h1>EDIT FOODBANK</h1>
<form class="col-lg-4" ng-submit="foodBanksEdit.update()" name="foodBanksEdit.foodBankForm" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="foodBanksEdit.foodBank.name" required>
    <div ng-messages="foodBanksEdit.foodBankForm.name.$error" ng-show="foodBanksEdit.foodBankForm.$submitted || foodBanksEdit.foodBankForm.name.$touched">
      <div ng-message="required">Title is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input autocomplete type="text" class="form-control" location="foodBanksEdit.foodBank.location" ng-model="foodBanksEdit.foodBank.address" name="location">
    <div ng-messages="foodBanksEdit.foodBankForm.location.$error" ng-show="foodBanksEdit.foodBankForm.$submitted || foodBanksEdit.foodBankForm.location.$touched">
      <div ng-message="required">Location is required.</div>
    </div>
  </div>


  <div class="form-group">
    <label for="type">Type:</label>
    <select class="form-control" id="typeFoodBank" name="type" required>
      <option value="food">Food</option>
      <option value="other">Other</option>
    </select>
    <div ng-messages="foodBanksEdit.foodBankForm.type.$error" ng-show="foodBanksEdit.foodBankForm.$submitted || foodBanksEdit.foodBankForm.type.$touched">
      <div ng-message="required">Type is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label class="label" for="url">Url:</label>
    <input type="text" class="form-control" id="url" name="url" ng-model="foodBanksEdit.foodBank.url">
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input class="form-control" base64 type="file" name="image" id="image" ng-model="foodBanksEdit.foodBank.base64" required>
    <div ng-messages="foodBanksEdit.foodBankForm.image.$error" ng-show="foodBanksEdit.foodBankForm.$submitted || foodBanksEdit.foodBankForm.image.$touched">
      <div ng-message="required">Image is required.</div>
    </div>
    <img ng-src="{{ foodBanksEdit.foodBank.base64 }}">
  </div>

  <button type="submit" class="btn btn-default">Update</button>

</form>
