<!DOCTYPE html>

<h2>Food Banks</h2>
<a ui-sref="foodBanksNew" class="btn btn-primary">Add a new Food Bank</a>

<div class="container">
  <google-map class="container map-large large" center="foodBanksIndex.center" food-banks="foodBanksIndex.filtered"></google-map>

  <input type="text" class="search" ng-model="foodBanksIndex.q" placeholder="Filter by name...">
  <section class="row">
    <div class="col-lg-6 card" ng-repeat="foodBank in foodBanksIndex.filtered">
      <img class="img-thumbnail" ng-src="{{ foodBank.imageSRC }}">
      <h2>{{ foodBank.name }}</h2>
      <button class="btn btn-default" ui-sref="foodBanksShow({ id: foodBank.id })">View</button> <!--button directing to show-->
    </div>
  </section>
</div>
