<!DOCTYPE html>
<h1>ADD NEW FOODBANK</h1>


<div class="row">
  <form class="col-lg-4" ng-submit="foodBanksNew.create()" name="foodBanksNew.foodBankForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" id="name" name="name" ng-model="foodBanksNew.foodBank.name" required>
      <div ng-messages="foodBanksNew.foodBankForm.name.$error" ng-show="foodBanksNew.foodBankForm.$submitted || foodBanksNew.foodBankForm.name.$touched">
        <div ng-message="required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input autocomplete type="text" class="form-control" location="foodBanksNew.foodBank.location" ng-model="foodBanksNew.foodBank.address" name="location">
      <div ng-messages="foodBanksNew.foodBankForm.location.$error" ng-show="foodBanksNew.foodBankForm.$submitted || foodBanksNew.foodBankForm.location.$touched">
        <div ng-message="required">Location is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <select class="form-control" id="typeFoodBank" name="type" required ng-model="foodBanksNew.foodBank.type">
        <option value="food">Food</option>
        <option value="other">Other</option>
      </select>
      <div ng-messages="foodBanksNew.foodBankForm.type.$error" ng-show="foodBanksNew.foodBankForm.$submitted || foodBanksNew.foodBankForm.type.$touched">
        <div ng-message="required">Type is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="url">Url:</label>
      <input type="text" class="form-control" id="url" name="url" ng-model="foodBanksNew.foodBank.url">
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input class="form-control" base64 type="file" name="image" id="image" ng-model="foodBanksNew.foodBank.base64" required>
      <div ng-messages="foodBanksNew.foodBankForm.image.$error" ng-show="foodBanksNew.foodBankForm.$submitted || foodBanksNew.foodBankForm.image.$touched">
        <div ng-message="required">Image is required.</div>
      </div>
      <img ng-src="{{ foodBanksNew.foodBank.base64 }}">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>
</div>
