<!DOCTYPE html>
<html ng-app="sausageApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WDI Project 3</title>
  <base href="/">
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChdIl5vwLjGfnKOZYNym05H1KD007m7-o"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChdIl5vwLjGfnKOZYNym05H1KD007m7-o&libraries=geometry,places"></script>
  <script src="https://use.fontawesome.com/9c2082c665.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Hind|Josefin+Sans|Open+Sans+Condensed:300" rel="stylesheet">


  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">

  <nav class="navbar navbar-default navbarColor">
    <ul class="navbar-left responsiveUl">
      <li class="responsiveLi"><a ui-sref="dashboard"><img src="./images/logo4c.png"></a></li>
      <li><a ui-sref="dashboard">Clowder</a></li>
      <li><a ui-sref="foodBanksIndex">Food Banks</a></li>
      <li><a ui-sref="postsIndex">Browse items</a></li>
      <label for="show-menu" class="show-menu">Show Menu</label>
      <input type="checkbox" id="show-menu" role="button">
      <div class="right">
        <li><a ui-sref="login" ng-if="!main.isAuthenticated()">Login</a></li>
        <li><a ui-sref="register" ng-if="!main.isAuthenticated()">Register</a></li>
        <li><a ui-sref="usersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()">{{ main.currentUser.username }}</a></li>
        <li><a ui-sref="usersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()"><img class="borderRadius" ng-src="{{ main.currentUser.imageSRC }}"></a></li>
        <li><a href="#" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a></li>
      </div>
    </ul>
  </nav>


  <main ui-view>
  </main>
</body>
</html>
