// Import all of your scss files here
@import "normalize";
body{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    letter-spacing: 2px;
    font-weight: lighter;
  }
  h1{
    font-size: 60px;
  }
}
nav{
  height: 60px;
  ul{
    text-align: left;
    margin: 0;
    li{
      line-height: 50px;
      list-style: none;
      display: inline;
      margin-right: 20px;

      a {
        color: white;
        font-size: 16px;
        text-shadow: .1px 2px 2px rgba(0,0,0,0.3);
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        img {
          height: 50px;
        }
      }
      a:hover{
        text-decoration: none;
        color: #5c8a8a;
      }
    }
    .right{
      float: right;
    }
  }
}

.navbarColor {
  background: linear-gradient(to bottom right, #36C9A3, #b9f7f0);
}

.borderRadius {
  border-radius: 14px;
}

.post-image {
  width: 500px;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-left: 12%;
}

.post-comment-card {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 16px;
  width: 500px;
  left: 5%;
  display: inline-block;
  .comment-btn {
    border: none;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .user-info{
    img{
      height: 60px;
      width: 40px;
      border-radius: 10px;
      float: right;
      margin: 10px;
    }
  }
  p{
    text-align: justify;
    padding: 25px;
  }
  a {
    float: right;
    margin-right: 20px;
  }
}

.map {
  height: 250px;
  width: 250px;
  background-color: ghostwhite;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.map-large{
  width: 100%;
  height: 70vh;
}
.tomato {
  height: 92vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1080&amp;h=720&amp;q=80&amp;cs=tinysrgb&amp;crop=&amp;bg=");
  background-position: center;
  background-size: cover;
  position: relative;
  .main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
  }
  h4 {
    margin-bottom: 40px;
  }
}

.enter-button {
  margin-left: 30%;
  display: block;
  width: 200px;
  height: 200px;
  background-image: url(/images/logo4.png);
  background-repeat: no-repeat;
  background-position: center;

}
.enter-button:hover {
  background-image: url(/images/logo4b.png);
}

.post {
  margin-left: 25%;
  width: 75%;
  .post-image {
    width: 500px;
    height: 400px;
    border: 2px solid #77ACA2;
    margin-bottom: 20px;
  }
  .map {
    width: 85%;
    margin-left: 7%;

  }
}
.search {
  padding: 10px 40px;
  border-radius: 5px;
  margin: 20px 0;
}

form {
  text-align: center;
  margin: 0 auto;
}

.map-section{
  width: 60%;
  height: 45vh;
  background-color: #fcfc1b;
}
.dashboardAside{
  background-color: #fafafa;
  text-align: left;
  float: right;
  height: 45vh;
  overflow: scroll;
  a {
    color: #000;
  }
  a:hover, a:active{
    text-decoration: none;
    color: grey;
  }
}

.showUser {
  width: 400px;
  display: inline-block;
  height: 520px;
  margin-top: 5%;
  margin-left: 15px;
  background: linear-gradient(to bottom right, #fcfc1b, #eded95);
  // float: left;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  .userImage {
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px
  }
}

aside {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  h2 {
    text-align: center;
    color: #36C9A3;
  }
  .meetups {
    text-align: center;
  }

}
.margin-left {
  margin-left: 20px;
}

// .clowder {
//   background-repeat: no-repeat;
//   background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/19693454_10210292169645951_3064037528385373931_o.jpg?oh=45dbd1b0c36a082f1ab8f205eb18e7b5&oe=5A112D2E");
//   background-size: 500px 100px;
//
// }

.userEmail {
  padding: 20px;
}

.showPosts {
margin-top: 30px;
height: 250px;
width: 600px;
display: inline-block;
text-shadow: 1px 1px 1px white,
               1px 1px 3px black;
display: inline-block;
}


.dashboardImage {
  width: 90%;
  // height: 75vh;
}

.carouselSection {
  background-color: white;
  width: 100%;
  // height: 55vh;
  margin-bottom: 150px;
  div {
    div {
      div {
        .slideText {
          font-size: 20px;
          background-color: rgba(95, 100, 109, 0.8);
        }
      }
    }
  }
}

a.right.carousel-control, .left.carousel-control {
  opacity: .046;
  max-width: 20px;
  filter:alpha(opacity=0);
  color: black;
}


.inline-block {
  display: inline-block;
}

.card {
  border-radius: 5px;
}
.map-foodbank-info{
  color: #000;
}
.map-foodbank-info:hover{
  text-decoration: none;
}
.new-foodbank-btn{
  margin-bottom: 20px;
}
.foodbank-tile{
  margin: 20px 0;
  .foodbank-image{
    width: 470px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    .foodbank-text{
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a{
        color: #fff;
        font-weight: lighter;
        border: 1px solid #fff;
        border-radius: 7%;
        padding: 5px 10px;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}
.foodbank-details{
  .map-foodbank-show{
    width: 100%;
  }
  a{
    color: #000;
  }
  a:hover{
    text-decoration: none;
    color: grey;
  }
}

.post-tile{
  margin: 20px 0;
  .postImage {
    width: 500px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    .post-text{
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a{
        color: #fff;
        font-weight: lighter;
        border: 1px solid #fff;
        border-radius: 7%;
        padding: 5px 10px;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}
.ouath-btns{
  margin-top: 30px;
  button{
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    i{
      margin-right: 5px;
      font-size: 20px;
    }
  }
  .github{
    background-color: #000;
    border: 1px solid #000;
  }
  .facebook{
    background-color: #3b5998;
    border: 1px solid #3b5998;
  }
}

.float-left {
  float: left;
}

.btn-default {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.responsiveUl {
  /*Strip the ul of padding and list styling*/
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    /*Create a horizontal list with spacing*/
    .responsiveLi {
    display:inline-block;
    float: left;
    margin-right: 1px;
  }
}

/*Responsive Styles Navbar*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/

    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
