// Import all of your scss files here
@import "normalize";
body{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    letter-spacing: 2px;
    font-weight: lighter;
  }
  h1{
    font-size: 60px;
    margin-bottom: 10px;
  }
}
nav{
  height: 60px;
  ul{
    text-align: left;
    margin: 0;
    li{
      line-height: 50px;
      list-style: none;
      display: inline;
      margin-right: 20px;

      a {
        color: white;
        font-size: 16px;
        text-shadow: .1px 2px 2px rgba(0,0,0,0.3);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        img {
          height: 50px;
        }
      }
      a:hover{
        text-decoration: underline;
        color: #B5F44A;
      }
      a:visited{
        color: #fff;
      }
    }
    .right{
      float: right;
    }
  }
}

.navbarColor {
  background-color: #77ACA2;
}

.borderRadius {
  border-radius: 14px;
}

.comments-image {
  height: 60px;
  width: 40px;
  border-radius: 10px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.post-image {
  width: 500px;
  height: 400px;
  border: 2px solid #77ACA2;
  background-position: center;
  background-size: cover;
  margin-left: 12%;
}

.post-comment-card {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
  width: 500px;
  height: 80px;
  left: 5%;
  display: inline-block;
  .comment-btn {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  a {
    float: right;
    margin-right: 20px;
  }
}



.map {
  height: 250px;
  width: 250px;
  background-color: ghostwhite;
}
.map-large{
  width: 100%;
  height: 70vh;
}
.tomato {
  height: 92vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1080&amp;h=720&amp;q=80&amp;cs=tinysrgb&amp;crop=&amp;bg=");
  background-position: center;
  background-size: cover;
  position: relative;
  .main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
  }
  h4 {
    margin-bottom: 40px;
    }
  .enter-button {
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 30px;
  }
  .enter-button:hover {
    text-decoration: none;
    border-color: tomato;
    color: tomato;
  }
}


.post {
  margin-left: 25%;
  width: 75%;
  .post-image {
    width: 500px;
    height: 400px;
    border: 2px solid #77ACA2;
    margin-bottom: 20px;
  }
  .map {
    width: 85%;
    margin-left: 7%; 
  }
}
.search {
  padding: 10px 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}

form {
  text-align: center;
  margin: 0 auto;
}

.map-section{
  width: 100%;
  height: 45vh;
  background-color: #b3cccc;
}
.dashboardAside{
  background-color: #fafafa;
  text-align: left;
  float: right;
  height: 45vh;
  overflow: scroll;
  a {
    color: #000;
  }
  a:hover, a:active{
    text-decoration: none;
    color: grey;
  }
}

.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;

  &:after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
}

.showUser {
  width: 600px;
  height: 520px;
  margin-top: 5%;
  margin-left: 25%;
  padding-bottom: 80px;
  background: linear-gradient(to bottom right, #fcfc1b, #eded95);
}

.z-index {
  z-index: -1; position:relative;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1499242165110-131f6ccd0c9a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
  width: 100vw;
  height: 100vh;
}

.dashboardImage {
  width: 90%;
  height: 90vh;
}

.carouselSection {
  width: 100%;
  height: 90vh;
  margin-bottom: 30px;
  border: 2px solid #77ACA2;
  div {
    div {
      div {
        .slideText {
          font-size: 40px;
          background-color: rgba(95, 100, 109, 0.6);

        }
      }
    }
  }
}


.right.carousel-control, .left.carousel-control {
  opacity: .046;
  filter:alpha(opacity=0); /* IE support */
  color: black;
  width: 10vh;
}

.inline-block {
  display: inline-block;
}

.card {
  border-radius: 5px;
}

.meetups {
  display: inline-block;
}
