<!DOCTYPE html>
<div class="row">
  <form class="col-lg-4" ng-submit="postsEdit.create()" name="postsEdit.postForm" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title" ng-model="postsEdit.post.title" value="{{ postsEdit.post.title }}" required>
      <div ng-messages="postsEdit.postForm.title.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.title.$touched">
        <div ng-message="required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="separable">Separable?</label>
      <select class="form-control" id="separable" name="separable" ng-model="postsEdit.post.separable" required>
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>
      </select>
      <div ng-messages="postsEdit.postForm.separable.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.separable.$touched">
        <div ng-message="required">Separable is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Update image</label>
      <input class="form-control" base64 type="file" name="image" id="image" ng-model="postsEdit.post.base64" required>
      <img ng-src="{{ postsEdit.post.imageSRC }}">
    </div>

    <h2>Edit Items:</h2>
    <ul>
      <li ng-repeat="item in postsEdit.post.items">{{ item.name }} ({{ item.type }})<button class="button" type="button" ng-click="postsEdit.deleteItem(item)">del</button></li>
    </ul>
    <div class="form-group">

      <label for="nameItem">Item name: </label>
      <input ng-model="postsEdit.newItem.name">

      <label for="itemType">Item Type: </label>
      <select ng-model="postsEdit.newItem.type">
        <option value="clothes">Clothes</option>
        <option value="food">Food</option>
        <option value="baby">Baby Item</option>
        <option value="other">Other</option>
      </select>

      <label for="itemPerishable">Is the item perishable?: </label>
      <select ng-model="postsEdit.newItem.perishable">
      <option ng-value="true">Yes</option>
      <option ng-value="false">No</option>
      </select>

      <!-- <label for="itemImage">Item Image: </label>
      <input ng-model="postsEdit.post.item.image"> -->


      <button class="button" type="button" ng-click="postsEdit.addItem()">Add</button>
    </div>

    {{ postsNew.post }}
    <button class="button">Add</button>
  </form>
</div>
