<!DOCTYPE html>
<div class="row">
  <form class="col-lg-4" ng-submit="postsEdit.update()" name="postsEdit.postForm" novalidate>
    <h2>Edit post</h2>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title" ng-model="postsEdit.post.title" value="{{ postsEdit.post.title }}" required>
      <div ng-messages="postsEdit.postForm.title.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.title.$touched">
        <div ng-message="required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="separable">Separable?</label>
      <select class="form-control" id="separable" name="separable" ng-model="postsEdit.post.separable" required>
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>
      </select>
      <div ng-messages="postsEdit.postForm.separable.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.separable.$touched">
        <div ng-message="required">Separable is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Update image</label>
      <input class="form-control" base64 type="file" name="image" id="image" ng-model="postsEdit.post.base64" required>
      <img ng-src="{{ postsEdit.post.imageSRC }}">
      <img ng-src="{{ postsEdit.post.base64 }}">
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input autocomplete type="text" class="form-control" location="postsEdit.post.location" ng-model="postsEdit.post.address" name="location" required>
      <div ng-messages="postsEdit.postForm.location.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.location.$touched">
        <div ng-message="required">Location is required.</div>
      </div>
    </div>

    <h2>Edit Items:</h2>
    <ul>
      <li ng-repeat="item in postsEdit.post.items">{{ item.name }} ({{ item.type }})<button class="btn btn-danger" type="button" ng-click="postsEdit.deleteItem(item)">X</button></li>
    </ul>
    <div class="form-group">
      <div class="form-group">
        <label for="nameItem">Item name: </label>
        <input class="form-control" ng-model="postsEdit.newItem.name">
      </div>
      <div class="form-group">
        <label for="itemType">Item Type: </label>
        <select class="form-control" ng-model="postsEdit.newItem.type">
          <option value="clothes">Clothes</option>
          <option value="food">Food</option>
          <option value="baby">Baby Item</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">

        <label for="itemPerishable">Is the item perishable?: </label>
        <select class="form-control" ng-model="postsEdit.newItem.perishable">
          <option ng-value="true">Yes</option>
          <option ng-value="false">No</option>
        </select>
      </div>
      <button class="btn btn-default" type="button" ng-click="postsEdit.addItem()">Add</button>

    </div>
    <button class="btn btn-primary">Submit changes</button>
  </form>
</div>
