<!DOCTYPE html>
<div class="row">
  <form class="col-lg-4" ng-submit="postsNew.create()" name="postsNew.postForm" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title" ng-model="postsNew.post.title" required>
      <div ng-messages="postsNew.postForm.title.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.title.$touched">
        <div ng-message="required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="separable">Separable?</label>
      <select class="form-control" id="separable" name="separable" ng-model="postsNew.post.separable" required>
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>
      </select>
      <div ng-messages="postsNew.postForm.separable.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.separable.$touched">
        <div ng-message="required">Separable is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" id="image" name="image" ng-model="postsNew.post.image">
    </div>

    <h2>Items added:</h2>
    <ul>
      <li ng-repeat="item in postsNew.post.items">{{ item }}<button class="button" type="button" ng-click="postsNew.item.deleteItem()">del</button></li>
    </ul>
    <div class="form-group">
      <label>Add Item</label>
      <label for="nameItem">Item name: </label>
      <input ng-model="postsNew.newItem.name">

      <label for="itemType">Item Type: </label>
      <select ng-model="postsNew.newItem.type">
        <option value="clothes">Clothes</option>
        <option value="food">Food</option>
        <option value="baby">Baby Item</option>
      </select>

      <label for="itemPerishable">Is the item perishable?: </label>
      <select ng-model="postsNew.newItem.perishable">
      <option ng-value="true">Yes</option>
      <option ng-value="false">No</option>
      </select>

      <!-- <label for="itemImage">Item Image: </label>
      <input ng-model="postsNew.post.item.image"> -->


      <button class="button" type="button" ng-click="postsNew.addItem()">Add</button>
    </div>

    {{ postsNew.post }}
    <button class="button">Add</button>
  </form>
</div>
