<!DOCTYPE html>
<div class="row">
  <form class="col-lg-4" ng-submit="postsNew.create()" name="postsNew.postForm" novalidate>
    <div class="form-group">
      <label for="title">Title of the post</label>
      <input class="form-control" type="text" id="title" name="title" ng-model="postsNew.post.title" required>
      <div ng-messages="postsNew.postForm.title.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.title.$touched">
        <div ng-message="required">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input autocomplete type="text" class="form-control" location="postsNew.post.location" ng-model="postsNew.post.address" name="location" required>
      <div ng-messages="postsNew.postForm.location.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.location.$touched">
        <div ng-message="required">Location is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="separable">Separable?</label>
      <select class="form-control" id="separable" name="separable" ng-model="postsNew.post.separable" required>
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>
      </select>
      <div ng-messages="postsNew.postForm.separable.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.separable.$touched">
        <div ng-message="required">Separable is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input class="form-control" base64 type="file" name="image" id="image" ng-model="postsNew.post.base64" required>
      <div ng-messages="postsNew.postForm.image.$error" ng-show="postsNew.postForm.$submitted || postsNew.postForm.image.$touched">
        <div ng-message="required">Image is required.</div>
      </div>
      <img ng-src="{{ postsNew.post.base64 }}">
    </div>

    <h2>Add Items to give away:</h2>
    <ul>
      <li ng-repeat="item in postsNew.post.items">{{ item.name }} ({{ item.type }})<button class="btn btn-danger" type="button" ng-click="postsNew.deleteItem(item)">X</button></li>
    </ul>
    <div class="form-group">
      <label for="nameItem">Item name: </label>
      <input class="form-control" ng-model="postsNew.newItem.name">
    </div>
    <div class="form-group">
      <label for="itemType">Item Type: </label>
      <select class="form-control" ng-model="postsNew.newItem.type">
        <option value="clothes">Clothes</option>
        <option value="food">Food</option>
        <option value="baby">Baby Item</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="from-group">
      <label for="itemPerishable">Is the item perishable?: </label>
      <select class="form-control" ng-model="postsNew.newItem.perishable">
        <option ng-value="true">Yes</option>
        <option ng-value="false">No</option>
      </select>
    </div>
      <button class="btn btn-primary" type="button" ng-click="postsNew.addItem()">Add an item</button>
    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
