<!DOCTYPE html>

<h2>{{ postsShow.post.title }}</h2>
<a class="btn btn-primary" href="mailto:{{ postsShow.post.createdBy.email }} Subject=Hey, I am interested in {{ postsShow.post.title }}" target="_top">Email me about this!</a>
<section>
  <div class="post col-lg-6 card">
  <h2>Post created by   <a ui-sref="usersShow({ id: postsShow.post.createdBy.id })">{{ postsShow.post.createdBy.username }}</a></h2>
    <img ng-src="{{ postsShow.post.imageSRC }}">
    <google-map class="small" center="postsShow.post.location"></google-map>

  <div class="post-block post-items">
    <h2>Items</h2>
    <ul class="post-items">
      <li ng-repeat="item in postsShow.post.items">{{ item.name }}</li>
    </ul>
  </div>

    <div class="comments">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in postsShow.post.comments track by $index">
          <strong>{{ comment.createdBy.username }}</strong> - {{ comment.text }} <button class="btn btn-primary" ng-click="postsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">X</button>
        </li>
      </ul>

      <form ng-if="main.isAuthenticated()" ng-submit="postsShow.addComment()">
        <label>Add comment</label>
        <textarea ng-model="postsShow.newComment.text"></textarea>
        <button class="btn btn-primary">Comment</button>
      </form>
    </div>

    <button ng-if="main.isAuthenticated() && main.currentUserId === postsShow.post.createdBy.id" class="btn btn-default" ui-sref="postsEdit({ id: postsShow.post.id })">Edit</button>
    <button ng-if="main.isAuthenticated() && main.currentUserId === postsShow.post.createdBy.id" class="btn btn-default" ng-click="postsShow.openModal()">Delete</button>
  </div>
</section>

<p>{{ postsShow.post }}</p>
